
<template>
  <div v-if="loadingScore === false">
    <div class="row">
      <div class="col">
        <p>{{score.id}}</p>
      </div>
      <div class="col">
        <p>{{score.username}}</p>
      </div>
      <div class="col">
        <p v-if="score.score !== undefined">{{score.score}}</p>
        <p v-else>{{score.highScore}}</p>
      </div>

    </div>



  </div>

</template>

<script>
import {mapState} from "vuex";

export default {
  name: "ScoreCard",
  props: ['score'],
  computed: {
    ...mapState(['loadingScore'])
  },
}
</script>

<style scoped>

</style>