<template>
    <div>
      <h1>High Scores</h1>
      <p v-if="loadingScore">Fetching Scores...</p>
      <table v-if="loadingScore === false">
        <tr>
          <!--<th>User ID</th>-->
          <th>Name</th>
          <th>High Score</th>
        </tr>
        <tr v-for="score in scoreList" :key="score.id">
          <!--<td>{{score.id}}</td>-->
          <td>{{score.username}}</td>
          <td v-if="score.score !== undefined">{{score.score}}</td>
          <td v-else>{{score.highScore}}</td>
        </tr>
      </table>

      <br><br>

      <button @click="mainPage">Go To Main Page
        <i class="fas fa-home fa-sm"></i>
      </button>
    </div>
</template>

<script>
import {mapState} from 'vuex'
  export default {
    computed: {
      ...mapState(['scoreList', 'loadingScore'])
    },
    methods: {
      increment() {
        this.$store.commit('increment')
      },
      mainPage() {
        this.$router.push("/start");
      }
      //...mapActions(["getHighScores"]),
    }
  }
</script>

<style scoped>
  /* Borrowed From W3Schools - https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro*/
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h1 {
    padding-bottom: 3%;
  }

  div {
    padding: 5%;
    text-align: center;
  }

  button{
    padding: 2% 5%;
    margin: 1%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #184B29;
    background-color: #EAEDF0;
    border: 2px solid #627E8B;
    border-radius: 0.3em;
  }

  button:hover {
    color: rgb(37, 119, 65);
    background-color: #d1d5d8;
    border: 2px solid #566f7a;
  }

</style>