<template>
    <div class="start-container">
      <h1 class="trivia-title">Trivia App - Vue.js</h1>
      <p class="welcome">Welcome to Akisan's and Felix's Trivia App That We Made In A Week Learning Vue<br>Start By Entering Your Preferences So We Can Begin</p>
      <p v-if="loadingCharacters">Fetching Categories...</p>

      <table>
        <tr>
          <td>Name</td>
          <td>
            <input class="trivia-input" v-model="nameOfUser" placeholder="Unknown">
          </td>
        </tr>
        <tr>
          <td>Number of Questions</td>
          <td>
            <input class="trivia-input" type="number" v-model="questionAmount" placeholder="how many questions?" aria-valuemin="0" aria-valuemax="50" max="50" min="1">
          </td>
        </tr>
        <tr>
          <td>Difficulty Level</td>
          <td>
            <select class="trivia-input" v-model="selectDiff">
            <option value="-1">Any Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
          </td>
        </tr>
        <tr>
          <td>Category</td>
          <td>
            <select class="trivia-input" v-model="selectCategory">
              <option value="-1">Any Category</option>
              <option v-for="category in categoryList" v-bind:key="category.id" :value="category.id">{{category.name}}</option>
            </select>
          </td>
        </tr>
      </table>

      <br><br>
      <button class="start-button" @click="startTrivia(nameOfUser, selectCategory, questionAmount, selectDiff)">Start Trivia
        <i class="fas fa-play fa-sm"></i>
      </button>
    </div>
</template>
<script>

import {mapActions, mapState} from "vuex";
//import CatagoryListItem from "@/components/CatagoryListItem";

export default {
  //components: {CatagoryListItem},
  async created() {
    await this.getAPIToken();
    await this.getCategories();
  },
  computed: {
    ...mapState(['categoryList', 'loadingCharacters'])
  },
    data() {
        return {
            nameOfUser: "",
            questionAmount: 10,
            selectDiff: "-1",
            selectCategory: "-1"
        }
    },
    methods: {
      ...mapActions(["getCategories", 'getHighScores', 'getAPIToken']),



        startTrivia(nameOfUser, questionCategory, numberOfQuestions, difficultyLevel) {

          // Since The Num Field Can Be Forced To Allow Bigger Nums
          numberOfQuestions = numberOfQuestions > 50 ? 50 : numberOfQuestions;

          if (nameOfUser === '') {
            nameOfUser = 'Unknown';
          }

          // Push Data to Vue Store
          this.$store.commit('updateUserPreferences', {
              nameOfUser,
              questionCategory,
              numberOfQuestions,
              difficultyLevel
            });
            this.$store.commit('triviaLock', true)
            this.$router.push("/game");
            this.$store.commit('triviaLock', false)

            this.getHighScores();
        }

    }
}
</script>

<style scoped>
  .trivia-title {
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
    color: #184B29;
  }

  .welcome {
    padding-bottom: 3rem;
  }

  .start-container {
    text-align: center;
    padding: 5rem;
    margin: 5rem;
    background-color: #EAEDF0;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 1rem;
    box-shadow: 2px 2px 1px 1px rgb(199, 199, 199);
  }

  .trivia-title {
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
    
  }

  table {
    width: 100%;
    text-align: left;
  }

  td {
    font-weight: 400;
  }

  select, input {
    width: 100%;
  }

  .start-button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #184B29;
    background-color: #EAEDF0;
    border: 2px solid #627E8B;
    border-radius: 0.3em;
  }

  .start-button:hover {
    background-color: #d1d5d8;
    border: 2px solid #566f7a;
  }

  .trivia-input {
    display: inline-block;
    height: inherit;
    margin: 0.5rem;
    border: 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .trivia-input:focus {
    outline: none !important;
    border: 1px #627E8B;
    box-shadow: 0 0 1px 1px #627E8B;
  }
</style>
