<template>
    <div>
      <TriviaBody v-if="loadingQuestions === false && questionIndex !== -1 && questionList.length > 0" :question="questionList[questionIndex]" :curr-index="questionIndex" :num-of-question="questionList.length" :key="questionList[questionIndex].question"/>
      <h1 v-if="loadingQuestions === false && questionList.length === 0">There was no Questions Found!</h1>
      <button v-if="loadingQuestions === false && questionList.length === 0" @click="mainPage">Go To Main Page
        <i class="fas fa-home fa-sm"></i>
      </button>
    </div>
</template>

<script>
import {mapActions, mapState} from "vuex";
import TriviaBody from "@/components/TriviaBody";

  export default {
    components: {TriviaBody},
    async created() {
      await this.getQuestionSet();
    },

    computed: {
      ...mapState(['questionList', 'loadingQuestions', 'questionIndex'])
    },
    methods: {
      ...mapActions(['getQuestionSet']),
      mainPage() {
        this.$router.push("/start");
      }
    },
  }
</script>

<style>
button{
  padding: 2% 5%;
  margin: 1%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #184B29;
  background-color: #EAEDF0;
  border: 2px solid #627E8B;
  border-radius: 0.3em;
}

button:hover {
  color: rgb(37, 119, 65);
  background-color: #d1d5d8;
  border: 2px solid #566f7a;
}
</style>