<template>
  <div v-if="questionList !== undefined && userAnswerList !== undefined" style="padding: 5%">
    <!-- <p>{{question.question}}</p>
    <p>Correct Answer: {{question.correct_answer}} | You Answered: {{userAnswer}}</p>

    <tr>
      <td>{{question.question}}</td>
      <td>{{question.correct_answer}}</td>
      <td v-if="question.correct_answer === userAnswer" style="color: green">{{userAnswer}}</td>
      <td v-else style="color: red">{{userAnswer}}</td>
    </tr>
     -->

    <table>
      <tr>
        <th>Question</th>
        <th>Correct Answer</th>
        <th>Your Answer</th>
      </tr>
      <tr v-for="i in questionList.length" :key="i">
        <td v-html="questionList[i - 1].question">{{questionList[i - 1].question}}</td>
        <td v-html="questionList[i - 1].correct_answer">{{questionList[i - 1].correct_answer}}</td>
        <td v-html="userAnswerList[i - 1]" v-if="questionList[i - 1].correct_answer === userAnswerList[i -1]" style="background-color: green; color: white">{{userAnswerList[i -1]}}</td>
        <td v-html="userAnswerList[i - 1]" v-else style="background-color: red; color: white">{{userAnswerList[i -1]}}</td>
      </tr>


    </table>
  </div>
</template>

<script>
export default {
  name: "TriviaResultCard",
  props: ['questionList', 'userAnswerList'],
}
</script>

<style scoped>
  /* Borrowed From W3Schools - https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro*/
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>