<template>
  <div>

    <div class="row info-bar">
      <div class="col">
        <p>Difficulty: {{question.difficulty}}</p>
      </div>
      <div class="col">
        <p>Category: {{question.category}}</p>
      </div>
      <div class="col">
        <p>{{currIndex + 1}} / {{numOfQuestion}}</p>
      </div>
    </div>

    <div v-if="loadingQuestions === false" class="parentElm">
      <br><br>
      <h1 v-html="question.question">{{question.question}}</h1>

      <br><br>
      <!-- Changed to All Answers  -->
      <button class="answer-button" v-for="answerOption in question.incorrect_answers" v-html="answerOption" :key="answerOption" @click="checkAnswer(answerOption, question.correct_answer)">{{ answerOption }}</button>
    </div>
  </div>

</template>

<script>
import {mapState} from "vuex";

export default {
  name: "TriviaBody",
  props: ['question', 'numOfQuestion', 'currIndex'],
  computed: {
    ...mapState(['loadingQuestions'])
  },
  methods: {
    checkAnswer(clicked, answer) {
      this.updateUserAnswer(clicked);
      if (clicked === answer) {
        //alert("Correct!")
        this.updateAnswerCount()
      } else {
        //alert(`Nope - ${answer}`)
      }

      this.updateQuestionCount()
    },
    updateUserAnswer(clicked) {
      this.$store.commit('addUserAnswer', {
        clicked
      })
    },
    updateQuestionCount() {
      this.$store.commit('incrementQuestionIndex')
      const index = this.$store.state.questionIndex

      if (index === -1) {
        this.$store.commit('resultLock', true);
        this.$router.push("/result");
        this.$store.commit('resultLock', false);
        this.addHighScore();
      }
    },
    updateAnswerCount() {
      this.$store.commit('incrementCorrectAnswerC')
    },
    addHighScore() {
      let shouldPublish = true;
      let shouldUpdate = false;

      for (const score of this.$store.state.scoreList) {
        if (score.username === this.$store.state.nameOfUser) {
          this.$store.commit('updateUserId', { userID: score.id });
          shouldUpdate = this.isCurrentScoreHigher(score, (this.$store.state.correctAnswers * 10));
          shouldPublish = false;
        }
      }
      if (shouldPublish) {
        this.$store.dispatch('postHighScore');
      }
      if (shouldUpdate) {
        this.$store.dispatch('updateHighScore');
      }
    },
    isCurrentScoreHigher(score, currentSocre) {
      if ('score' in score) {
        return currentSocre > score.score ;
      }
      else if ('highScore' in score) {
        return currentSocre > score.highScore;
      }
      return null;
    }
  }
}
</script>

<style scoped>
.parentElm {
  padding: 5%;
}
.answer-button{
  width: 45%;
  padding: 5%;
  margin: 1%;
  font-size: 1rem;
  font-weight: 400;
  background-color: #EAEDF0;
  border: 2px solid #627E8B;
  border-radius: 0.2em;
}
.col{
  text-align: center;
}

.row{
  background-color: black;
  color: white;
  padding: 1%;
}
  .parentElm {
    padding: 5%;

  }

  button{
    width: 45%;
    padding: 5%;
    margin: 1%;
    font-size: 2rem;
    font-weight: 700;
    color: #184B29;
    background-color: #EAEDF0;
    border: 2px solid #627E8B;
    border-radius: 0.3em;
  }

  button:hover {
    color: rgb(37, 119, 65);
    background-color: #d1d5d8;
    border: 2px solid #566f7a;
  }

  .col{
    text-align: center;
  }

  .row{
    background-color: #627E8B;
    color: white;
    padding: 1%;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    button{
      width: 95%;
      padding: 5%;
      margin: 1%;
    }
  }
</style>